
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

}

.header_wraper{
	width: 100%;
	position: relative;
	padding: 1rem 1rem 1rem 1rem;
	transition: all .4s ease-in-out;
	z-index: 100;
	margin: 0 auto;
}

.header_wraper.headremove{
	display: none;
}
.headbg{
	background: #5e2ced;
	transition: all .4s ease-in-out;
	padding: .5rem .5rem .5rem .5rem;
	width: 100%;
}

.logo_container{
	text-align: left;
	margin-right: auto;
}

.logo_container a{
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}

.logo_container_nav{
	margin-right: auto;
	text-align: left;
	padding: 1rem;
	text-align: center;
}

.logo_container_nav a{
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}

.header_nav{
	position: fixed;
	top: 0;
	left: 0;
	transform: translateX(-105%);
	width: 70%;
	height: 100vh;
	background: #292dc2;
	box-shadow: 0px 0px 10px 1px #000;
	transition: all .4s ease;
	z-index: 111;
}

.pc_nav{
	display: none;
}



.header_nav.active{
	transform: translateX(0);
}

.header_nav_ul{
	list-style: none;
}

.header_nav_ul li{
	text-align: center;

}



.header_nav_ul li a:nth-child(1){
	animation: slideli all ;
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 1rem;
	display: block;
}

@keyframes slideli {
	from{
		opacity: 0;
	}

	to{
		opacity: .2;
	}
}
.header_nav_ul li a:hover{
	background: #508EE3;
}

.logo_lines{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.lines{
	width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: all .4s ease;
}
.line{
	width: 30px;
	height: 5px;
	background: #fff;
	cursor: pointer;
	transform: all .4s ease;
}

.line:before,
.line:after{
	content: '';
	position: absolute;
	width: 30px;
	height: 5px;
	background: #fff;
	cursor: pointer;
}

.line:before{
	transform: translateY(-10px);
}

.line:after{
	transform: translateY(10px);
}

.modal{
	opacity: 0;
}

.modal.modalblock{
	opacity: 1;
	height: 100vh;
	background: rgba(0, 0, 0, .7);
	z-index: 1111;
}


@media only screen and (min-width: 576px) {
	.header_wraper{
		padding: 1rem 4rem;
	}
}

@media only screen and (min-width: 768px) {
	.header_wraper{
		padding: 1rem 5rem;
	}
}

@media only screen and (min-width: 992px) {

	.logo_lines{
		max-width: 960px;
	}
	.header_wraper.headremove{
	display: block;
}
	.modal.modalblock{
		opacity: 0;
	}
	.header_wraper{
		padding: 1.5rem 1rem;
	}
	.header_nav,
	.lines{
		display:none;
	}
	.pc_nav{
		display:flex;
		list-style: none;
	}

	.pc_nav li{
		margin-left: 2rem;
	}

	.pc_nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 1rem 0;
	position: relative;
	 transition: all 0.4s linear;
}

.pc_nav li a:before{
    content: '';
    position: absolute;
    top: 75%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #fff;
    transition: all 0.4s linear;
}

.pc_nav li a:hover:before{
	width: 100%;
}
	.headbg{
		padding: .3rem 0rem .3rem 0rem;
	}
	.logo_lines{
		margin: 0 auto
	}

}

@media only screen and (min-width: 1200px) {
	.logo_lines{
		max-width: 1140px;
		display: flex;
		justify-content: space-between;
	}
	.header_wraper.headremove{
	display: block;
}

	.modal.modalblock{
		opacity: 0;
	}
}


/*============================banner section================*/
.banner_section{
	background: #292dc2;
	height: 95vh;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0 1rem;
}

.banner_bg{
	filter: opacity(.1);
    background: url(slide3.jpg) no-repeat;
    background-size: cover;
    background-position: 15% 0%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.banner_info{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	margin-top: 5rem;
	text-align: center;
	align-content: center;
	padding: 0 1rem;
}


.banner_text{
	color: #fff;
}

.banner_text h1{
	margin-bottom: 1rem;
}

.bannerimg{
	margin-bottom: 4rem;
	max-width: 375px;
	margin: 0 auto 2rem auto;
}

.bannerimg img{
	width: 100%;
}

.svg2{
	position: absolute;
	top: 0;
	right: 0;
	height: 200px;
	width: 220px;
}

.bottom_wave svg{
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom_wave svg{
	bottom: -20px;
}

.banner_btn{
	display: none;
}

@media only screen and (min-width: 576px) {

	.banner_section{
		background: #292dc2;
		height: 675px;
	}
	.banner_info{
		height: 100%;
		max-width: 540px;
		margin:6rem auto 0 auto;
		text-align: center;
		justify-content: flex-start;
	}

	.banner_text{
		max-width: 440px;
		margin: 0 auto 2rem auto;
	}

	.bottom_wave svg{
		bottom: -50px;
	}

	.bannerimg{
		margin: 0 auto 0 auto;
	}
	.banner_btn{
		display: none;
	}
}

@media only screen and (min-width: 768px){

	.banner_section{
		background: #292dc2;
		height: 675px;
		margin-bottom: 4rem;
	}
	.banner_info{
		flex-direction: row;
		align-items: center;
		max-width: 720px;
		text-align: left;
		justify-content: space-between;
		margin: 0 auto;
	}

	.banner_btn{
		display:inline-block;
		margin-top: 1rem;
		text-decoration: none;
		background: #0F62FE;
		padding: .8rem .5rem;
		border-radius: 10px;
		color: #fff;
		font-size: 1rem;
		font-weight: bold;		
	}

	.banner_btn:hover{
		transform: translateY(5%);
		box-shadow: 8px 5px 8px 0px rgba(0,0,0,0.11);
	}

	.bottom_wave svg{
		bottom: -70px;
	}
}

@media only screen and (min-width: 992px){
	.banner_info{
		max-width: 960px;
		margin: 0 auto;
	}
	.banner_info{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.bottom_wave svg{
		bottom: -80px;
	}
}

@media screen and (min-width: 1200px) {
	.banner_info{
		max-width: 1140px;
		padding: 0;
		justify-content: space-around;
	}

	.banner_text{
		margin: 0;
	}

	.bannerimg{
		margin: 0;
	}

	.banner_text h1,
	.banner_text p{
		margin-bottom: 2rem;
	}

	.bottom_wave svg{
		bottom: -110px;
		height: 
	}
}
/*====================Service Section============*/

.service_section{
	padding: 2.5rem 0;
	background: #fff;
	height: 100%;
	position: relative;
}

.service_section_wraper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.service_head{
	text-align: center;
}
.service_head h1{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.service_cards {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1.5rem;
}

.service1{
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
	padding: 2rem 1rem;
	margin-bottom: 1rem;
	box-shadow:0 0 8px 2px rgba(0,0,0,0.15);
	cursor: pointer;
}

.service1 h3{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: .5rem;
}

.service1 i{
	font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;
    position: relative;
	z-index: 3;
	color: #5e2ced;
}

.service1:hover{
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
}
.service1:hover i{
	color:  #fff;
}

.service1:hover i:after{
	transform: rotate(0);
	background: #5e2ced;	
}

.service1 i:after{
	content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 20px;
    background: rgba(94,44,237,0.15);
    transform: rotate(45deg);
    transition: all 0.4s;
    z-index: -1;
}

.service1 p{
	line-height: 1.4rem;
}

@media only screen and (min-width: 576px){
	.service_section_wraper {
	    max-width: 540px;
	}
}

@media only screen and (min-width: 768px){
	.service_section_wraper {
	    max-width: 720px;
	}
}

@media only screen and (min-width: 900px){
	.service_section_wraper {
	    max-width: 860px;
	}
	.service_cards{
	    grid-template-columns: repeat(2,1fr);
   		grid-gap: 1.5rem;
	}
}

@media screen and (min-width: 992px) {
	.service_section_wraper{
		max-width: 960px;
	}
}

@media screen and (min-width: 992px) {
	.service_section_wraper{
		max-width: 960px;
	}
	.service_cards{
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {
	.service_section_wraper{
		max-width: 1140px;
		padding: 0;
	}
}

/*======================== Ready Section===================*/

.ready_section{
	background: #292dc2;
	height: 30rem;
	width: 100%;
	position: relative;
}

.ready_wraper{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	margin: 0 auto;
}

.ready_bg{
	height: 100%;
	width: 100%;
	filter: opacity(.5);
    background: url('readybg.jpg') no-repeat;
    background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.ready_info{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	padding: 3rem 2rem;
	text-align: center;
	height: 100%;
	width: 100%;
}

.ready_info h2{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.ready_info p{
	color: #fff;
	margin-bottom: 2rem;
	line-height: 1.4rem;
}

.ready_info a:nth-child(odd){
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	padding: .8rem 1.5rem;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(-45deg, #5e2ced, #a485fd);
	border-radius: 30px;
	margin-bottom: 2rem;
	transition: 200ms all ease-in-out;
}

.ready_info a:nth-child(odd):hover{
	box-shadow: inset .5px .5px 2px .5px #000;
}

.ready_info a:nth-child(even){
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	padding: .8rem 1.5rem;
	cursor: pointer;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(-45deg, #5e2ced, #a485fd);
	border-radius: 30px;
	transition: 200ms all ease-in-out;
}

.ready_info a:nth-child(even):hover{
	box-shadow: inset .5px .5px 2px .5px #000;
}


@media only screen and (min-width: 576px){
	.ready_wraper{
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px){
	.ready_wraper{
		max-width: 730px;
	}
}

@media only screen and (min-width: 1200px){
	.ready_wraper{
		max-width: 1140px;
	}
}
/*================================Testimonial=================*/

.testimonial{
	padding: 3rem 0;
	position: relative;
}

.testi_head{
	text-align: center;
	margin-bottom: 2rem;
}
.item{
	text-align: center;
	display: block;
	padding: 0 1rem;
	cursor: grabbing;
}

.owl-prev{
	position: absolute;
	top: 30%;
	left: 5%;
}

.owl-prev span{
		font-size: 3rem;
}

.owl-next{
	position: absolute;
	top: 30%;
	right: 5%;
}

.owl-next span{
		font-size: 3rem;
}

.testi_img{
	width: 150px;
	height: 160px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.testi_img img{
    width: 100%;
	height: 100%;
    display: inline-block;
}

.testi_info{
	margin-top: 1rem;
}

.testi_info p{
	padding: 0 2.5rem;
}

.testi_name{
	margin: 1rem 0;
}

.testi_name h4{
	font-size: 1.2rem;
	letter-spacing: .5px;
	padding: .5rem 0;
}

.testimonial_wraper{
	margin: 0 auto; 
}

@media screen and (min-width: 576px) {
	.testimonial_wraper{
		max-width: 540px;
	}
	
}

@media screen and (min-width: 992px) {
	.testimonial_wraper{
		max-width: 960px;
	}
	
}
/*==================================Process================*/

.process{
	position: relative;
	padding: 3rem 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(-45deg, #5e2ced, #a485fd);
}

.process_wraper{
	padding: 0 1rem;
	margin: 0 auto;
}

.process_head {
	text-align: center;

}

.process_head h3{
	font-size: 2rem;
	text-shadow: 1px 1px #000;
	color: #fff;
}

.process_steps{
	text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.process_step1,
.last_step{
	height: 100%;
}

.process_step1 i,
.last_step i{
	font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;
    position: relative;
	z-index: 3;
	color: #5e2ced;
}

.process_step1:hover i,
.last_step:hover i{
	color:  #fff;
}

.process_step1:hover i:after,
.last_step:hover i:after{
	transform: rotate(0);
	background: #5e2ced;
}

.process_step1 i:after,
.last_step i:after{
	content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 20px;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.4s;
    z-index: -1;
}

.process_step1 h5,
.last_step h5{
	font-size: 1.2rem;
	color: #fff;
	margin-bottom: .5rem;
}

.process_step1 p,
.last_step p{
	color: #fff;
	line-height: 25px;
	position: relative;
	margin-bottom: 5rem;
}
.last_step p{
	margin-bottom: 0;
}

.process_step1 p:after{
	content: '';
	position: absolute;
	top: 100%;
	border: 1px dashed #fff;
	width: 1px;
    left: 0;
    bottom: -42%;
    right: 0;
    margin: 0 auto;
    height: 100px;
}
@media screen and (min-width: 576px) {
	.process_wraper{
		max-width: 540px;
	}
}

@media screen and (min-width: 768px) {
	.process_wraper{
		max-width: 730px;
		padding: 0;
	}

	.process_steps{
		flex-direction: row;
	}

	.process_step1 p:after{
		top: -75px;
		border: 1px dashed #fff;
		width: 55%;
	    left: 75%;
	    margin: 0 auto;
	    height: 1px;
	}

	.process_step1 p,
	.last_step p{
		line-height: 2rem;
		padding: 0 1rem;
	}
}

@media screen and (min-width: 900px) {
	.process_wraper{
		max-width: 860px;
		padding: 0;
	}
}

@media screen and (min-width: 992px) {
	.process_wraper{
		max-width: 960px;
		padding: 0;
	}
}

@media screen and (min-width: 1200px) {
	.process_wraper{
		max-width: 1140px;
		padding: 0;
	}
}
/*=============================Footer Section=============*/

.footer{
	padding-top: 3rem;
	position: relative;
}

.footer_wraper{
	padding: 0 1rem;
	margin: 0 auto;
}

.footer_part1{
	margin-bottom: 1rem;
}

.footer_header{
	text-align: left;
}

.footer_logo{
	margin-bottom: 1rem;
	letter-spacing: 2px;
}

.footer_header p{
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

.social_icons{

}

.social_links{
	display: flex;
	list-style: none;
	margin-bottom: 1rem;
}

.social_links li{
	display: inline-block;
	margin-left: 1rem;
	border: 1px solid #5e2ced;
	color: #fff;
	border-radius: 50%;
}

.social_links li:nth-child(1){
	margin-left: 0;
}

.social_links li a{
	color: #5e2ced;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    width: 35px;
    text-decoration: none;
    vertical-align: middle;
}

.social_links li:hover{
	background: #5e2ced;
}
.social_links li:hover i{
	color: #fff
}


.footer_p2{
	padding: 1rem 0;
}

.footer_p2 h3,
.footer_p3 h3{
	margin-bottom: 1rem;
	letter-spacing: 1px;
	padding-bottom: .5rem;
	border-bottom: 1px dotted #000;
}

.footer_links{
	list-style: none;
}

.footer_links li{
	margin-bottom: .8rem;
	transition: 200ms all ease-in-out;

}

.footer_links li a{
	text-decoration: none;	
	color: #000;
	position: relative;	
	display: block;
}

.footer_links li a:before{
	content: '\f105';
    font-weight: 700;
    font-family: Font Awesome\ 5 Free;
    color: #232323;
    padding-right: 10px;
}


.footer_links li:hover{
	transform: translateX(15px);
	transition: 200ms all ease-in-out;
}


.address{
	list-style: none;
}

.address li{
	margin: 1rem 0;
}

.address li span:nth-child(1){
	color: #5e2ced;
	padding-right: 10px;
	vertical-align: top;
	font-size: 1rem;
}

.address li span:nth-child(2){
	width: 85%;
	display: inline-block;
}


.footer_p4{
	margin-top: 2rem;
	background: #000;
	width: 100%;
}

.footer_lines{
	padding: .8rem 1rem

}

.copyright,
.copyright2{
	display: block;
	text-align: center;
}

.copyright p,
.copyright2 p{
	color: #939393;
	font-size: 14px;
	font-weight: normal;
}


@media screen and (min-width: 576px) {
	.footer_wraper{
		max-width: 540px;	
	}
}


@media screen and (min-width: 768px) {
	.footer_wraper{
		max-width: 730px;	
	}


	.footer_header p{
		margin: 2rem 0;
	}

	.footer_part1{
		width: 60%;
		float: left;
		margin-right: 2rem;
	}

	.footer_p2{
		width: 100%;
	}

	.footer_p2 h3,
	.footer_p3 h3{
		margin-bottom: 1rem;
	}

	.footer_lines{
		text-align: center;
	}

	.copyright,
	.copyright2{
		display: inline-block;
		padding: 1rem;
	}
}

@media screen and (min-width: 992px) {

	.footer_wraper{
		max-width: 	960px;
	}

	.footer_part1,
	.footer_p2,
	.footer_p3{
		width: 30%;
		display: inline-block;
	}

	.footer_p2{
		margin-right: 2rem;
	}
	.footer_p3 h3{
		margin-bottom: 1.5rem;
	}
}


@media screen and (min-width: 1200px) {
	.footer_wraper{
		max-width: 	1140px;
	}
}
